{% extends 'base.html' %}
{% load static %}
{% block main %}
<div class="row my-3 my-sm-5">
            <div class="col-md-4 shadow p-5 mx-auto rounded-3">
                <h3 class="text-center text-dark ">
                    Welcome Back !!
                </h3>
                <h6 class="text-center text-dark mb-4">Still do not have account ? <a href="{% url 'register' %}">Sign up</a></h6>
               
                <form method="post">
                    {% csrf_token %}
                    <i class="fa-solid fa-user ps-2 pe-4"></i><label for="user" class="mb-2 fw-bold">Username</label>
                    <input type="text" name="username" id="user" class="form-control mb-4">
                    <i class="fa-solid fa-lock ps-2 pe-4"></i><label for="pass" class="mb-2 fw-bold">Password</label>
                    <input type="password" name="password" id="pass" class="form-control mb-2">
                    <div class="d-flex justify-content-between mb-4 mx-2">
                        <span><input type="checkbox" name="" id=""> Remeber me</span>
                        <a href="" style="text-decoration: none;">Forgot Password?</a>
                    </div>
                    <button class="btn btn-primary w-100 rounded-pill" type="submit">Login</button>
                </form>

            </div>
        </div>
    
{% endblock %}
{% block title %}
Login
{% endblock %}