{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
<div class="row">
    <div class="col-sm-12 p-5 mx-auto shadow-lg" style="background-color: white;">
        <h2 class="mb-5 fw-bold text-center ">VIEW BLOG</h2>
        <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
            <tr>
                
                <th>ID</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Author</th>
                <th>Content</th>
                <th>Image</th>
                <th>Published_At</th>
                <th>Actions</th>
               
            </tr>
            </thead>
            {% for b in blogs %}
            <tr>
                <tbody>
                <td>{{forloop.counter}}</td>
                <td>{{b.title|truncatechars:'10'}}</td>
                <td>{{b.subtitle|truncatechars:'10'}}</td>
                <td>{{b.author}}</td>
                <td>{{b.content|truncatechars:'50'}}</td>
                <td>
                    {% if b.image %}
                    <img src="{{b.image.url}}" alt="" height="50px" width="100px">
                    {% else %}
                    No image
                    {% endif %}
                </td>
                <td>{{b.published_at}}</td>

                <td class="wrap">
                    <a href="{% url 'editblog' id=b.id %}" class="me-2 btn btn-outline-warning rounded-3"><i class="fa-solid fa-edit"></i></a>
                    <a href="{% url 'delete' id=b.id %}" class="btn btn-outline-danger rounded-3"><i class="fa-solid fa-trash"></i></a>
                </td>
                </tbody>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock %}